<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hks.weixin.mapper.TbWechatReplymsgMapper" >
  <resultMap id="BaseResultMap" type="com.hks.weixin.pojo.TbWechatReplymsg" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="reply_key" property="replyKey" jdbcType="VARCHAR" />
    <result column="reply_value" property="replyValue" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, reply_key, reply_value
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hks.weixin.pojo.TbWechatReplymsgExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_wechat_replymsg
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_wechat_replymsg
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_wechat_replymsg
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hks.weixin.pojo.TbWechatReplymsgExample" >
    delete from tb_wechat_replymsg
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hks.weixin.pojo.TbWechatReplymsg" >
    insert into tb_wechat_replymsg (id, reply_key, reply_value
      )
    values (#{id,jdbcType=INTEGER}, #{replyKey,jdbcType=VARCHAR}, #{replyValue,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hks.weixin.pojo.TbWechatReplymsg" >
    insert into tb_wechat_replymsg
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="replyKey != null" >
        reply_key,
      </if>
      <if test="replyValue != null" >
        reply_value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="replyKey != null" >
        #{replyKey,jdbcType=VARCHAR},
      </if>
      <if test="replyValue != null" >
        #{replyValue,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hks.weixin.pojo.TbWechatReplymsgExample" resultType="java.lang.Integer" >
    select count(*) from tb_wechat_replymsg
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_wechat_replymsg
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.replyKey != null" >
        reply_key = #{record.replyKey,jdbcType=VARCHAR},
      </if>
      <if test="record.replyValue != null" >
        reply_value = #{record.replyValue,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_wechat_replymsg
    set id = #{record.id,jdbcType=INTEGER},
      reply_key = #{record.replyKey,jdbcType=VARCHAR},
      reply_value = #{record.replyValue,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hks.weixin.pojo.TbWechatReplymsg" >
    update tb_wechat_replymsg
    <set >
      <if test="replyKey != null" >
        reply_key = #{replyKey,jdbcType=VARCHAR},
      </if>
      <if test="replyValue != null" >
        reply_value = #{replyValue,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hks.weixin.pojo.TbWechatReplymsg" >
    update tb_wechat_replymsg
    set reply_key = #{replyKey,jdbcType=VARCHAR},
      reply_value = #{replyValue,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>